* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #69b99d;
  --secondary-color: #ccf4e6;
  --gradiente: linear-gradient(90deg, #69b99d, #ccf4e6);
  --dark: #0f241d;
  --gray: #767676;
  --light-gray: #e4e4e4;
  --first-background: #f9f9f9;
  --second-background: #ffffff;
  --Poppins: Poppins, sans-serif;
  --DM-Sans: DM Sans, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 72px;
  width: 100%;
  background: var(--first-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .content {
  width: 100%;
  padding: 0 123px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 25px;
  width: 164px;
}

.nav-bar ul {
  display: flex;
  gap: 32px;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar ul li a {
  font-family: var(--DM-Sans);
  font-size: 16px;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav-bar ul li a:hover, .nav-bar a.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 24px;
}

/* Sessão Início */ 

.main {
  height: 100dvh;
  width: 100%;
  padding-top: 156px 0 172px;
  background: var(--first-background);
}

.main .content {
  padding-top: 84px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 123px;
}

.home-text h1 {
  font-family: var(--Poppins);
  font-size: 36px;
  font-weight: 700;
  color: var(--dark);
  width: 396px;
  padding-bottom: 12px;
}

.home-text p {
  font-family: var(--DM-Sans);
  font-size: 18px;
  font-weight: normal;
  color: var(--gray);
  width: 347px;
  padding-bottom: 38px;
}

.home-text a {
  font-family: var(--DM-Sans);
  font-size: 16px;
  font-weight: 500;
  padding: 14px 32px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background: var(--primary-color);
  color: var(--first-background);
  text-decoration: none;
  transition: 0.3s ease;
}

.home-text a:hover {
  background: var(--first-background);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.image img {
  height: 443px;
  width: 658px;
}

.about {
  height: 100dvh;
  width: 100%;
  background: var(--second-background);
}

.about .content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-img img {
  height: 446px;
}

.about-txt h2 {
  font-family: var(--Poppins);
  font-size: 36px;
  font-weight: 700;
  color: var(--dark);
  padding-bottom: 12px;
}

.about-txt p {
  font-family: var(--DM-Sans);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  width: 610px;
  padding-right: 121px;
}

.services {
  padding: 0 123px 160px 123px;
  background: var(--first-background);
}

.services h2 {
  font-family: var(--Poppins);
  font-size: 36px;
  font-weight: 700;
  color: var(--dark);
  padding: 160px 0 12px 0;
  text-align: center;
}

.services p {
  font-family: var(--DM-Sans);
  font-size: 18px;
  font-weight: 500;
  color: var(--dark);
  width: 523px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 64px;
}

.services p span {
  font-weight: 700;
  color: var(--primary-color);
}

.services .content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.service-card {
  height: 352px;
  width: 352px;
  background: var(--second-background);
  border-radius: 5px;
  border-bottom: 5px solid var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  padding: 58px 48px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.service-card img {
  height: 80px;
  width: 80px;
  padding-bottom: 24px;
}

.service-card h3 {
  font-family: var(--Poppins);
  font-size: 24px;
  font-weight: 700;
  color: var(--dark);
  padding-bottom: 12px;
}

.service-card p {
  font-family: var(--DM-Sans);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 256px;
}

.testimonials {
  /* height: 100vh; */
  width: 100%;
  background: var(--second-background);
  padding: 160px 123px 160px 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h2 {
  max-width: 481px;
  text-align: center;
  font-family: var(--Poppins);
  font-size: 36px;
  font-weight: 700;
  color: var(--dark);
  margin: 0 auto;
  margin-bottom: 64px;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 32px;
  overflow-x: auto;
}

.testimonial {
  height: 264px;
  width: 544px;
  background: var(--first-background);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 52px;
}

.testimonial p {
  max-width: 440px;
  font-family: var(--DM-Sans);
  font-weight: regular;
  font-size: 1rem;
  color: var(--dark);
  line-height: 1.5;
}

.testimonial img {
  height: 26px;
  width: 20px;
  margin-right: 9px;
}

.test-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.test-footer img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.test-footer h3 {
  font-size: 16px;
  color: var(--gray);
  font-weight: 300;
}

.content-dots {
  display: flex;
  gap: 8px;
  padding-top: 58px;
}

.dots {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--light-gray);
}

.dots-check {
  background: var(--primary-color);
}
