* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #69b99d;
  --secondary-color: #ccf4e6;
  --gradiente: linear-gradient(90deg, #69b99d, #ccf4e6);
  --dark: #0f241d;
  --gray: #767676;
  --light-gray: #e4e4e4;
  --first-background: #f9f9f9;
  --second-background: #ffffff;
  --Poppins: Poppins, sans-serif;
  --DM-Sans: DM Sans, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 4.5rem;
  background-color: var(--first-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 1.5625rem;
  padding-left: 7.6875rem;
}

.nav-bar {
  padding-right: 7.6875rem;
}

.nav-bar ul{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul li {
  list-style: none;
  display: flex;
  padding-left: 2rem;
}

.nav-bar ul li.inicio {
  padding-left: 0;
}


.nav-bar ul li a {
  font-family: var(--DM-Sans);
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: color 0,5s ease;
}

.nav-bar ul li a:hover, .nav-bar a.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 1.7rem;
}
