* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #69b99d;
  --secondary-color: #ccf4e6;
  --gradiente: linear-gradient(90deg, #69b99d, #ccf4e6);
  --dark: #0f241d;
  --gray: #767676;
  --light-gray: #e4e4e4;
  --first-background: #f9f9f9;
  --second-background: #ffffff;
  --Poppins: Poppins, sans-serif;
  --DM-Sans: DM Sans, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 72px;
  width: 100%;
  background: var(--first-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .content {
  width: 100%;
  padding: 0 123px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 25px;
  width: 164px;
}

.nav-bar ul {
  display: flex;
  gap: 32px;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar ul li a {
  font-family: var(--DM-Sans);
  font-size: 16px;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav-bar ul li a:hover, .nav-bar a.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 24px;
}

h1 {
  padding-top: 90px;
}
