* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #69b99d;
  --secondary-color: #ccf4e6;
  --gradiente: linear-gradient(90deg, #69b99d, #ccf4e6);
  --dark: #0f241d;
  --gray: #767676;
  --light-gray: #e4e4e4;
  --first-background: #f9f9f9;
  --second-background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: var(--first-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-bar {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}
.logo img {
  height: 1.5625rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  font-family: Dm sans, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav-links li a:hover,
.nav-links a.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 1.7rem;
}

.burger {
  display: none;
  cursor: pointer;
}

.home {
  height: 100vh;
  background: var(--first-background);
  padding: 5.25rem 0 0 0;
}

.home-content {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.375rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.home-text {
  max-width: 24.75rem;
}

.home-text h1 {
  font-family: Poppins, sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.75rem;
}

.home-text p {
  font-family: Dm sans, sans-serif;
  font-size: 1rem;
  color: var(--gray);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.home-text .btn {
  padding: 0.75rem 1.5rem;
  background: var(--primary-color);
  color: var(--second-background);
  border: none;
  border-radius: 0.375rem;
  font-family: Dm sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.home-text .btn:hover {
  background: var(--dark);
}

.home-image img {
  height: 27.6875rem;
}

.about {
  height: 100vh;
  background: var(--second-background);
}

.about-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-right: 7.5625rem;
}

.about-text h2 {
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.75rem;
}

.about-text p {
  font-family: Dm sans, sans-serif;
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.5;
}

.about-text .btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background: var(--primary-color);
  color: var(--second-background);
  border: none;
  border-radius: 0.375rem;
  font-family: Dm sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}
.about-text .btn:hover {
  background: var(--dark);
}

.services {
  background: var(--first-background);
  padding: 5rem 0 10rem 0;
}

.services h2 {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.75rem;
}

.services p {
  max-width: 32.6875rem;
  margin: 0 auto;
  text-align: center;
  font-family: Dm sans, sans-serif;
  font-size: 1.125rem;
  color: var(--gray);
  line-height: 1.5;
  margin-bottom: 4rem;
}

.services-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.service {
  height: 22rem;
  width: 22rem;
  background: var(--second-background);
  border-radius: 0.5rem;
  border-bottom: 5px solid var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3.625rem 3rem;
  text-align: center;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.service img {
  height: 5rem;
  margin-bottom: 1.5rem;
}

.service h3 {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 0.75rem;
}

.service p {
  width: 16rem;
  font-family: Dm sans, sans-serif;
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.5;
}

.testimonials {
  /* height: 100vh; */
  width: 100%;
  background: var(--second-background);
  padding: 10rem 7.6875rem 10rem 7.6875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h2 {
  max-width: 30.0625rem;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--dark);
  margin: 0 auto;
  margin-bottom: 4rem;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow-x: auto;
}

.testimonial {
  height: 16.5rem;
  width: 34rem;
  background: var(--first-background);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3.25rem;
}

.testimonial p {
  max-width: 27.5rem;
  font-family: Dm sans, sans-serif;
  font-weight: regular;
  font-size: 1rem;
  color: var(--dark);
  line-height: 1.5;
}

.testimonial img {
  height: 1.625rem;
  width: 1.25rem;
  margin-right: 0.5625rem;
}

.test-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.test-footer img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.test-footer h3 {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 300;
}

.content-dots {
  display: flex;
  gap: 0.5rem;
  padding-top: 3.625rem;
}

.dots {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: var(--light-gray);
}

.dots-check {
  background: var(--primary-color);
}

.contact {
  height: 100vh;
  width: 100%;
  background: var(--first-background);
  padding: 0 19.3125rem 0 7.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contact h2 {
  font-size: 2.25rem;
  font-family: Poppins;
  font-weight: 700;
  color: var(--dark);
  width: 25.25rem;
}

.contact .contact-text p {
  font-size: 1rem;
  font-family: Dm sans, sans-serif;
  width: 22.75rem;
}